.App {
  text-align: center;
  width: auto;
  min-height: 100vh;
  height : 100vh !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.Header {
  color: #2f323e;
  padding: 5px;
  height: 70px;
}

.Nav {
  color: #4d5964;
  padding: 15px;
  height: 30px;
}

div{
  text-align: left;
  color: #4d5964;
  height: auto;
}

.input__div, .addVote__div {
  padding: 0.5rem ;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  margin: 0.5rem;
  width: 15rem;
  overflow-wrap: break-word; 
  height: 2rem;
  white-space: initial;
}

.Header__login
 {
   margin-left: 65%;
 }
.created_at, .Comment__article-author {
  text-align: right;
  margin-bottom: 0px;
}

.Articles__topic, .ArticleCard_topic {
  color:#4d5964;
}

.Articles__title, .SingleTopic__title {
  padding: 10px 20px 0px 20px;
  margin-bottom: 0px;
  color: #4d5964;
}

.top__button {
  margin-left: 45%;
  font-size: 1em;
}

.top__button2 {
    justify-content: center;
    font-size: 1em;
}

.Comments__filteredArticle {
  border: none;
  margin: 5px;
  text-align: center;
  font-style: italic;
}

.sort {
  display: flex;
  justify-content:right;
  padding: 0.5rem;
  min-width: 10rem;
}
Button {
  display: inline;
  border: 0px;
	cursor:pointer;
	color:#4d5964;
  font-weight: bold;
  font-size:0.75rem;
	padding:3px 3px;
	text-decoration:center;
  transition: all 0.9s, color 0.3;

}
Button:hover {
  color:#748380;
}
Button:active {
	position:relative;
} 

ul {
  padding: 0px;
  list-style-type: none;
}

li {
  margin: 0px 10px 20px 10px;
  border: 1px solid #748380;
  border-radius: 3px;
  padding: 10px 20px;
  color: #4d5964;
  background-color: #eceff1;
}

p {
  margin: 0px 0px 10px 0px;
}

h5 {
  margin: 5px 0px;
}

h6 {
  margin: 0;
}

h3 {
  margin: 5px;
  padding: 5px;
}

h4{ 
  margin: 0;
}

hr {
 border-top: 1px solid #748380;
}

h1 {
  margin: 10px;
}


